@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}
.w-auto {
    width: 80%;
    margin: auto;
}
.grid, .grid-lg {
    display: grid;
}
.grid-cols-2, .grid-cols-2-lg {
    grid-template-columns: 1fr 1fr;
}

.grid-cols-1 {
    grid-template-columns: 1fr;
}

.flex {
    height: 100vh;
    display: flex;
  justify-content: center;
  align-items: center;
}

.p-md {
    padding: 1.5rem;
}

.py-sm {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

label, small {
    display: block;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

input {
    height: 2.4rem;
}

input, textarea {
    width: 100%;
    padding: .25rem;
    border: 1px solid #bcbcbc;
    border-radius: .15rem;
}

input:focus, textarea:focus {
    outline: none;
}

input[type="radio"] {
    width: auto;
    height: auto;
}

.gap {
    gap: 1rem;
}

.text-right {
    text-align: right;
}

button {
    border: none;
    padding: .5rem 1rem;
    background-color: rgb(11, 161, 177);
    border-radius: .2rem;
    color: white;
}
.first {
    grid-column-start: 1;
    grid-row-start: 1;
}

.sec {
    grid-column-start: 2;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
}

.cover-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* 
***
****  MEDIA QUERIES

        * *   * *   * * * *     * *       * * * *       *               ****************************************************************************************************
        * * * * *   *           *   *       * *        * *              ****************************************************************************************************
        * *   * *   * * * *     *   *       * *       *   *             ****************************************************************************************************
        * *   * *   *           *  *        * *      *  *  *            ****************************************************************************************************
        * *   * *   * * * *     * *       * * * *   *       *           ****************************************************************************************************
**
*/


@media screen and (max-width: 600px) {
    .grid-cols-2-lg {
        grid-template-columns: 1fr !important;
    }
    
    .w-auto {
        width: 100%;
    }
    .p-md {
        padding: .85rem;
    }
    .grid-lg {
        display: block;
    }
}